/* 본문 줄간격 조정 */
p {
	margin: 0 0 3px
}

p:last-child {
	margin: 0px;
}


/* 폰트 */
* {
    font-family: var(--font-pro), sans-serif;
}

:root {
    font-feature-settings: "calt", "salt", "ss01", "ss02", "ss03", "ss08";
}


/* 코드 하이라이터 */
p strong em,
p em strong,
td strong em,
td em strong {
    font-style: normal;
    font-family: 'D2Coding';

    background: var(--color-hig);
    font-weight: 600;
}


/* 하이퍼링크 아이콘 */
p a[href]:before {
    content: '\f14c';

    display: inline-block;
    margin-right: 2px;
}

tr a[href] {
    color: var(--color-lin) !important;
}

tr a[href]:before {
    content: '\f14c';

    display: inline-block;
    margin-right: 2px;
}


/* 모바일 환경 알림 */
#article-list-row-65504905 {
    display: none !important;
}

.list-writer img {
    display: none;
}

img[title="Broadcaster"] {
    content: url(https://cdn.discordapp.com/attachments/936953394415935568/1006923454139863180/snow_badge.svg);
    filter: grayscale(1);
}

:root {
    --content-cate-peed: '\f143';
    --content-cate-css: '\f1c9';
    --content-cate-cift: '\f05a';
    --content-cate-csft: '\f14d';
    --content-cate-cxft: '\f0b2';
    --content-cate-ctft: '\f14e';
    --content-cate-grap: '\f1c5';
    --content-cate-gen: '\f15c';
    --content-cate-quest: '\f059';
    --content-cate-cloud: '\f0c2'
}

:root.darkmode {
    --color-cate-peed: #fff;
    --color-cate-css: #eee;
    --color-cate-cift: #dedede;
    --color-cate-csft: #cecece;
    --color-cate-cxft: #bebebe;
    --color-cate-ctft: #aeaeae;
    --color-cate-grap: #9e9e9e;
    --color-cate-gen: #8e8e8e;
    --color-cate-quest: #7d7d7d;
    --color-cate-cloud: #6d6d6d
}


/* 카테고리 버튼 아이콘 */
#article-list #article-list-category.can-float > a:before,
#article-list #article-list-category.can-float > a:after {
	content: none;
}

#article-list #article-list-category.can-float > a {
	align-items: center;
}

#article-list-category > a:not(#article-list-category > a:first-child):after {
    background: none;
    color: inherit;
	
    width: fit-content;
    margin-left: 4px;
	
    display: inline;
    position: static;
    z-index: 0;
	
    font-size: 12px;
    line-height: 0;
	
    transition: none;
    font-weight: normal;
}


/* 글 내부 카테고리 아이콘 */
#article-info > h2 > span:before {
    font-size: 20px;
    margin-right: 3px;
    font-weight: 400;
}


/* 글 목록 카테고리 아이콘 */
#article-list .article-list-row .category:before {
    font-size: 13px;
	margin-right: 3px;
}

#article-list .article-list-row .category[style="color:#000000"]:before,
#article-info > h2 > span[style="color:#000000"]:before,
#article-list-category > a:nth-child(2):after,
html.darkmode #article-list #article-list-category > a:nth-child(2),
html.darkmode #article-list .article-list-row .category[style="color:#000000"],
html.darkmode #article-info > h2 > span[style="color:#000000"] {
    content: var(--content-cate-peed) !important;
    color: var(--color-cate-peed) !important;
	border-color: var(--color-cate-peed) !important;
}


/* CSS */
#article-list .article-list-row .category[style="color:#121212"]:before,
#article-info > h2 > span[style="color:#121212"]:before,
#article-list-category > a:nth-child(3):after,
html.darkmode #article-list #article-list-category > a:nth-child(3),
html.darkmode #article-list .article-list-row .category[style="color:#121212"],
html.darkmode #article-info > h2 > span[style="color:#121212"] {
    content: var(--content-cate-css) !important;
	
    color: var(--color-cate-css) !important;
	border-color: var(--color-cate-css) !important;
}

/* CFT 시리즈 */
#article-list #article-list-category > a:nth-child(3),
html.darkmode #article-list #article-list-category > a:nth-child(3){
	background: var(--color-noti);
}

#article-list #article-list-category > a:nth-child(n+4):nth-child(-n+7),
html.darkmode #article-list #article-list-category > a:nth-child(n+4):nth-child(-n+7) {
	box-shadow: inset 0 -4px 0 0 var(--color-noti);
}

#article-list #article-list-category > a:nth-child(n+4):nth-child(-n+7).active,
#article-list #article-list-category > a:nth-child(n+4):nth-child(-n+7):hover,
#article-list #article-list-category > a:nth-child(n+4):nth-child(-n+7):focus {
	box-shadow: inset 0 -4px 0 0 var(--color-sig);
}

@media (min-width: 1400px) {

	#article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7),
	html.darkmode #article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7) {
        box-shadow: none;
		border-left: 4px solid var(--color-noti) !important;
    }

	#article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7).active,
	#article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7):hover,
	#article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7):focus,
	html.darkmode #article-list #article-list-category.can-float > a.active,
	html.darkmode #article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7):hover,
	html.darkmode #article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7):focus {
		border-left: 4px solid var(--color-sig) !important;
    }

}

/* CIFT */
#article-list .article-list-row .category[style="color:#242424"]:before,
#article-info > h2 > span[style="color:#242424"]:before,
#article-list-category > a:nth-child(4):after,
html.darkmode #article-list #article-list-category > a:nth-child(4),
html.darkmode #article-list .article-list-row .category[style="color:#242424"],
html.darkmode #article-info > h2 > span[style="color:#242424"] {
    content: var(--content-cate-cift) !important;
	
    color: var(--color-cate-cift) !important;
	border-color: var(--color-cate-cift) !important;
}

/* CSFT */
#article-list .article-list-row .category[style="color:#363636"]:before,
#article-info > h2 > span[style="color:#363636"]:before,
#article-list-category > a:nth-child(5):after,
html.darkmode #article-list #article-list-category > a:nth-child(5),
html.darkmode #article-list .article-list-row .category[style="color:#363636"],
html.darkmode #article-info > h2 > span[style="color:#363636"] {
    content: var(--content-cate-csft) !important;
	
    color: var(--color-cate-csft) !important;
	border-color: var(--color-cate-csft) !important;
}

/* CXFT */
#article-list .article-list-row .category[style="color:#484848"]:before,
#article-info > h2 > span[style="color:#484848"]:before,
#article-list-category > a:nth-child(6):after,
html.darkmode #article-list #article-list-category > a:nth-child(6),
html.darkmode #article-list .article-list-row .category[style="color:#484848"],
html.darkmode #article-info > h2 > span[style="color:#484848"] {
    content: var(--content-cate-cxft) !important;
	
    color: var(--color-cate-cxft) !important;
	border-color: var(--color-cate-cxft) !important;
}

/* CTFT */
#article-list .article-list-row .category[style="color:#5b5b5b"]:before,
#article-info > h2 > span[style="color:#5b5b5b"]:before,
#article-list-category > a:nth-child(7):after,
html.darkmode #article-list #article-list-category > a:nth-child(7),
html.darkmode #article-list .article-list-row .category[style="color:#5b5b5b"],
html.darkmode #article-info > h2 > span[style="color:#5b5b5b"] {
    content: var(--content-cate-ctft) !important;
	
    color: var(--color-cate-ctft) !important;
	border-color: var(--color-cate-ctft) !important;
}


/* 그래픽 */
#article-list .article-list-row .category[style="color:#6d6d6d"]:before,
#article-info > h2 > span[style="color:#6d6d6d"]:before,
#article-list-category > a:nth-child(8):after,
html.darkmode #article-list #article-list-category > a:nth-child(8),
html.darkmode #article-list .article-list-row .category[style="color:#6d6d6d"],
html.darkmode #article-info > h2 > span[style="color:#6d6d6d"] {
    content: var(--content-cate-grap) !important;
	
    color: var(--color-cate-grap) !important;
	border-color: var(--color-cate-grap) !important;
}

/* 자유 */
#article-list .article-list-row .category[style="color:#7f7f7f"]:before,
#article-info > h2 > span[style="color:#7f7f7f"]:before,
#article-list-category > a:nth-child(9):after,
html.darkmode #article-list #article-list-category > a:nth-child(9),
html.darkmode #article-list .article-list-row .category[style="color:#7f7f7f"],
html.darkmode #article-info > h2 > span[style="color:#7f7f7f"] {
    content: var(--content-cate-gen) !important;
	
    color: var(--color-cate-gen) !important;
	border-color: var(--color-cate-gen) !important;
}

/* 질문 */
#article-list .article-list-row .category[style="color:#919191"]:before,
#article-info > h2 > span[style="color:#919191"]:before,
#article-list-category > a:nth-child(10):after,
html.darkmode #article-list #article-list-category > a:nth-child(10),
html.darkmode #article-list .article-list-row .category[style="color:#919191"],
html.darkmode #article-info > h2 > span[style="color:#919191"] {
    content: var(--content-cate-quest) !important;
	
    color: var(--color-cate-quest) !important;
	border-color: var(--color-cate-quest) !important;
}

/* 저장소 */
#article-list .article-list-row .category[style="color:#a3a3a3"]:before,
#article-info > h2 > span[style="color:#a3a3a3"]:before,
#article-list-category > a:nth-child(11):after,
html.darkmode #article-list #article-list-category > a:nth-child(11),
html.darkmode #article-list .article-list-row .category[style="color:#a3a3a3"],
html.darkmode #article-info > h2 > span[style="color:#a3a3a3"] {
    content: var(--content-cate-cloud) !important;
	
    color: var(--color-cate-cloud) !important;
	border-color: var(--color-cate-cloud) !important;
}


/* 추천 가이드 뱃지 */
#article-list > .article-list-row > .item > .list-header > span {
    display: none;
}

@keyframes neon {
    from {
        background: var(--color-sig)
    }

    to {
        background: var(--color-pla)
    }
}

#article-list>.article-list-row>.item>.list-title>small.favo i:before {
    display: none;
}

#article-list>.article-list-row>.item>.list-title>small.favo {
    top: 0;
    border-radius: 5px;
    padding: 0px 5px;

    height: 18px;
    line-height: 18px;
    font-size: 12px;

    background: var(--color-sig);
    animation: neon 1.5s infinite alternate ease-in-out;
	color: #fff;
}

#article-list>.article-list-row>.item>.list-title>small.favo:before {
    content: '추천 ';
}

#article-list>.article-list-row>.item>.list-title>small.favo:after {
    content: '\f058';
}

/* 위로가기 */
#movetotop {
	width: 200px;
	height: 50px;
	margin: 0;
	top: 0;
	left: 50% !important;
	transform: translateX(-50%);
	z-index: 9999;
	
	font-size: 20px;
	font-weight: 900;
	word-spacing: 10px;
	text-align: center;
	line-height: 50px;
	
	color: #fff;
	text-decoration: none;
}

#movetotop[style*="opacity"] {
	opacity: 0 !important;
	display: none !important;
}

#movetotop:before {
	content: '· · · · ·';
}

#movetotop img {
	display: none;
}