/* Naknoon_TGD */
/* Yeohun_TGD 기반 - 우선 순위 높음 */

/* :::::::::: :::::::::: :::::::::: :::::::::: :::::::::: :::::::::: :::::::::: */

/* 본문 줄간격 조정 */
p {
	margin: 0 0 3px
}

p:last-child {
	margin: 0px;
}


/* 특수 폰트 */
p em,
td em {
	font-style: normal;
    font-weight: normal;
    font-family: 'Noto Serif KR';
}

p strong em,
p em strong,
td strong em,
td em strong {
    font-style: normal;
    font-family: 'D2Coding';

	background: var(--color_hig);
    font-weight: 600;
}


/* 폰트 */
* {
    font-family: var(--profont), 'Noto Sans KR', sans-serif;
}

/* Pretendard - OpenType Beta */
/* https://cactus.tistory.com/306 */
/* https://helpx.adobe.com/kr/fonts/using/open-type-syntax.html */
:root {
    font-feature-settings: "calt", "salt", "ss01", "ss02", "ss03", "ss08";
}


/* 하이퍼링크 아이콘 */
p a[href]:before {
	content: '\f14c';

	display: inline-block;
	margin-right: 2px;
}

tr a[href] {
	color: var(--color_lin) !important;
}

tr a[href]:before {
	content: '\f14c';

	display: inline-block;
	margin-right: 2px;
}


/* 모바일 환경 알림 */
#article-list-row-65504905 {
	display: none !important;
}




/* :::::::::: :::::::::: :::::::::: :::::::::: :::::::::: :::::::::: :::::::::: */

/* 빠른 수정 */
:root {
    --url_banner: url(https://cdn.discordapp.com/attachments/936953394415935568/992465070565113906/banner_basic_modified.png); /* 배너 */
    --url_pfbar: url(https://cdn.discordapp.com/attachments/901132816996249601/936308122518163526/pfbar_basic.png); /* 프로필바 배너 : 1 2 */
    --url_fulnoti: url(https://cdn.discordapp.com/attachments/901132816996249601/936675189096337499/darknoti.png); /* 풀사이즈형 공지 */
    --url_hgdlogo: url(https://cdn.discordapp.com/attachments/936953394415935568/983031726773239818/logo_line.svg); /* 흔게더 로고 */
}

/* 둘러보기 */
html {
    --color_bc: #cbd1dc;
    --color_fr: #FFFFFF;

    --color_noti: #D8DDE8; 
    --color_hot: #E5E9F0; 
    --color_hov: #F2F4F7; 

    --color_sig: #585C66; 
    --color_pla: #7F8899; /* #949FB3 */

    --color_hig: #FFF6BA; /* Blended #FFDE03 */
}

html.darkmode {
    --color_bc: #121212;
    --color_fr: #1D1D1D;

    --color_noti: #3A3A3A;
    --color_hot: #313131;
    --color_hov: #262626;
    
    --color_sig: #6E7380;
    --color_pla: #7F8899; /* #B3A994 */

    --color_hig: #5B5216; /* Blended #FFDE03 */
}

:root {
    --color_sigr: #684545; 
    --color_sigy: #B59653;
    --color_sigk: #1C1E21;

    --color_ntb: #E7524C;
    --color_eda: #1e88e5;
}


/* 뱃지 제거 */
.list-writer img {
	display: none;
}

/* 스트리머 뱃지 커스텀 */
img[title="Broadcaster"] {
	content: url(https://cdn.discordapp.com/attachments/936953394415935568/943852567337783326/badge.png);
	filter: grayscale(1);
}


/* 배너 */
body > header {
    background-color: #1E2433;
}


/* 로고 */
header #header-bar > .row:before {
	filter: brightness(100);
}


/* 흔게더 메인 페이지 버튼 */
#board-info h1 > a:hover:after {
    content: ' 메인으로';
}


/* 접속자 수 사이드 문구 */
#board-info #viewers-area #viewers:before {
    content: '';
}

#board-info #viewers-area #viewers:after {
    content: '명이 노는 중';
}


/* CSS 정보 */
footer:before {
    content: 'Custom CSS for Yeohun : Modified  ·  Designed by Naknoon';
}

/* CSS 제작 정보 */
footer:after {
    content: 'CSS Copyright 2022. Naknoon All Rights Reserved';
}




/* :::::::::: :::::::::: :::::::::: :::::::::: :::::::::: :::::::::: :::::::::: */

/* 전역 설정 */
:root {
	--Peed_Content: '\f143';
	--CSS_Content: '\f1c9';
		--CIFT_Content: '\f05a';
		--CSFT_Content: '\f14d';
		--CXFT_Content: '\f0b2';
		--CTFT_Content: '\f14e';
	--Grap_Content: '\f1c5';
	--Gen_Content: '\f15c';
	--Quest_Content: '\f059';
	--Cloud_Content: '\f0c2';
}

:root.darkmode {
	--Peed_Color: #ffffff; /* #000000 */
	--CSS_Color: #eeeeee; /* #121212 */
		--CIFT_Color: #dedede; /* #333333 */
		--CSFT_Color: #cecece; /* #4C4C4C */
		--CXFT_Color: #bebebe; /* #666666 */
		--CTFT_Color: #aeaeae; /* #7F7F7F */
	--Grap_Color: #9e9e9e; /* #6D6D6D */
	--Gen_Color: #8e8e8e; /* #7f7f7f */
	--Quest_Color: #7d7d7d; /* #919191 */
	--Cloud_Color: #6d6d6d; /* #a3a3a3 */
}


/* 카테고리 버튼 아이콘 */
#article-list #article-list-category.can-float > a:before,
#article-list #article-list-category.can-float > a:after {
	content: none;
}

#article-list #article-list-category.can-float > a {
	align-items: center;
}

#article-list-category > a:not(#article-list-category > a:first-child):after {
	background: none;	
	color: inherit;
	
	width: fit-content;
	margin-left: 4px;
	
	display: inline;
	position: static;
	z-index: 0;
	
	font-size: 12px;
	line-height: 0;
	
	transition: none;
}


/* 글 내부 카테고리 아이콘 */
#article-info > h2 > span:before {
	font-size: 20px;
    margin-right: 3px;
    font-weight: 400;
}


/* 글 목록 카테고리 아이콘 */
#article-list .article-list-row .category:before {
	font-size: 13px;
	margin-right: 3px;
}


/* 피드 */
#article-list .article-list-row .category[style="color:#000000"]:before,
#article-info > h2 > span[style="color:#000000"]:before,
#article-list-category > a:nth-child(2):after,
html.darkmode #article-list #article-list-category > a:nth-child(2),
html.darkmode #article-list .article-list-row .category[style="color:#000000"],
html.darkmode #article-info > h2 > span[style="color:#000000"] {
	content: var(--Peed_Content) !important;
	color: var(--Peed_Color) !important;
	border-color: var(--Peed_Color) !important;
}


/* CSS */
#article-list .article-list-row .category[style="color:#121212"]:before,
#article-info > h2 > span[style="color:#121212"]:before,
#article-list-category > a:nth-child(3):after,
html.darkmode #article-list #article-list-category > a:nth-child(3),
html.darkmode #article-list .article-list-row .category[style="color:#121212"],
html.darkmode #article-info > h2 > span[style="color:#121212"] {
	content: var(--CSS_Content) !important;
	
	color: var(--CSS_Color) !important;
	border-color: var(--CSS_Color) !important;
}

/* CFT 시리즈 */
#article-list #article-list-category > a:nth-child(3),
html.darkmode #article-list #article-list-category > a:nth-child(3){
	background: var(--color_noti);
}

#article-list #article-list-category > a:nth-child(n+4):nth-child(-n+7),
html.darkmode #article-list #article-list-category > a:nth-child(n+4):nth-child(-n+7) {
	box-shadow: inset 0 -4px 0 0 var(--color_noti);
}

#article-list #article-list-category > a:nth-child(n+4):nth-child(-n+7).active,
#article-list #article-list-category > a:nth-child(n+4):nth-child(-n+7):hover,
#article-list #article-list-category > a:nth-child(n+4):nth-child(-n+7):focus {
	box-shadow: inset 0 -4px 0 0 var(--color_sig);
}

@media (min-width: 1400px) {

	#article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7),
	html.darkmode #article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7) {
		box-shadow: none;
		border-left: 4px solid var(--color_noti) !important;
	}

	#article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7).active,
	#article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7):hover,
	#article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7):focus,
	html.darkmode #article-list #article-list-category.can-float > a.active,
	html.darkmode #article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7):hover,
	html.darkmode #article-list #article-list-category.can-float > a:nth-child(n+4):nth-child(-n+7):focus {
		border-left: 4px solid var(--color_sig) !important;
	}

}

/* CIFT */
#article-list .article-list-row .category[style="color:#242424"]:before,
#article-info > h2 > span[style="color:#242424"]:before,
#article-list-category > a:nth-child(4):after,
html.darkmode #article-list #article-list-category > a:nth-child(4),
html.darkmode #article-list .article-list-row .category[style="color:#242424"],
html.darkmode #article-info > h2 > span[style="color:#242424"] {
	content: var(--CIFT_Content) !important;
	
	color: var(--CIFT_Color) !important;
	border-color: var(--CIFT_Color) !important;
}

/* CSFT */
#article-list .article-list-row .category[style="color:#363636"]:before,
#article-info > h2 > span[style="color:#363636"]:before,
#article-list-category > a:nth-child(5):after,
html.darkmode #article-list #article-list-category > a:nth-child(5),
html.darkmode #article-list .article-list-row .category[style="color:#363636"],
html.darkmode #article-info > h2 > span[style="color:#363636"] {
	content: var(--CSFT_Content) !important;
	
	color: var(--CSFT_Color) !important;
	border-color: var(--CSFT_Color) !important;
}

/* CXFT */
#article-list .article-list-row .category[style="color:#484848"]:before,
#article-info > h2 > span[style="color:#484848"]:before,
#article-list-category > a:nth-child(6):after,
html.darkmode #article-list #article-list-category > a:nth-child(6),
html.darkmode #article-list .article-list-row .category[style="color:#484848"],
html.darkmode #article-info > h2 > span[style="color:#484848"] {
	content: var(--CXFT_Content) !important;
	
	color: var(--CXFT_Color) !important;
	border-color: var(--CXFT_Color) !important;
}

/* CTFT */
#article-list .article-list-row .category[style="color:#5b5b5b"]:before,
#article-info > h2 > span[style="color:#5b5b5b"]:before,
#article-list-category > a:nth-child(7):after,
html.darkmode #article-list #article-list-category > a:nth-child(7),
html.darkmode #article-list .article-list-row .category[style="color:#5b5b5b"],
html.darkmode #article-info > h2 > span[style="color:#5b5b5b"] {
	content: var(--CTFT_Content) !important;
	
	color: var(--CTFT_Color) !important;
	border-color: var(--CTFT_Color) !important;
}


/* 그래픽 */
#article-list .article-list-row .category[style="color:#6d6d6d"]:before,
#article-info > h2 > span[style="color:#6d6d6d"]:before,
#article-list-category > a:nth-child(8):after,
html.darkmode #article-list #article-list-category > a:nth-child(8),
html.darkmode #article-list .article-list-row .category[style="color:#6d6d6d"],
html.darkmode #article-info > h2 > span[style="color:#6d6d6d"] {
	content: var(--Grap_Content) !important;
	
	color: var(--Grap_Color) !important;
	border-color: var(--Grap_Color) !important;
}

/* 자유 */
#article-list .article-list-row .category[style="color:#7f7f7f"]:before,
#article-info > h2 > span[style="color:#7f7f7f"]:before,
#article-list-category > a:nth-child(9):after,
html.darkmode #article-list #article-list-category > a:nth-child(9),
html.darkmode #article-list .article-list-row .category[style="color:#7f7f7f"],
html.darkmode #article-info > h2 > span[style="color:#7f7f7f"] {
	content: var(--Gen_Content) !important;
	
	color: var(--Gen_Color) !important;
	border-color: var(--Gen_Color) !important;
}

/* 질문 */
#article-list .article-list-row .category[style="color:#919191"]:before,
#article-info > h2 > span[style="color:#919191"]:before,
#article-list-category > a:nth-child(10):after,
html.darkmode #article-list #article-list-category > a:nth-child(10),
html.darkmode #article-list .article-list-row .category[style="color:#919191"],
html.darkmode #article-info > h2 > span[style="color:#919191"] {
	content: var(--Quest_Content) !important;
	
	color: var(--Quest_Color) !important;
	border-color: var(--Quest_Color) !important;
}

/* 저장소 */
#article-list .article-list-row .category[style="color:#a3a3a3"]:before,
#article-info > h2 > span[style="color:#a3a3a3"]:before,
#article-list-category > a:nth-child(11):after,
html.darkmode #article-list #article-list-category > a:nth-child(11),
html.darkmode #article-list .article-list-row .category[style="color:#a3a3a3"],
html.darkmode #article-info > h2 > span[style="color:#a3a3a3"] {
	content: var(--Cloud_Content) !important;
	
	color: var(--Cloud_Color) !important;
	border-color: var(--Cloud_Color) !important;
}


/* 추천 가이드 뱃지 */
#article-list > .article-list-row > .item > .list-header > span {
    display: none;
}

@keyframes neon {
	from { background: var(--color_sig); }
	to { background: var(--color_pla); }
}

#article-list>.article-list-row>.item>.list-title>small.favo i:before {
    display: none;
}

#article-list>.article-list-row>.item>.list-title>small.favo {
	top: 0;
	border-radius: 5px;
    padding: 0px 5px;

    height: 18px;
	line-height: 18px;
    font-size: 12px;

    background: var(--color_sig);
	animation: neon 1.5s infinite alternate ease-in-out;
	color: #fff;
}

#article-list>.article-list-row>.item>.list-title>small.favo:before {
    content: '추천 ';
}

#article-list>.article-list-row>.item>.list-title>small.favo:after {
    content: '\f058'; /* 가이드 */
}