/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 여름 바다 이벤트 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
:root {
    /* 색상 */
        --mainColor: #2e96ff;   /* 메인 */
		--mainColor2: #f7f7f7;  /* 트게더 메뉴 · 일반글 hover */
		--mainColor3: #d1e8ff;  /* 공지 */
		--mainColor4: #f0f7ff ; /* 인기글 */
		--mainColor5: #bed4ea;  /* 고정글 hover */

    /* URL */
        --logoURL: url(https://cdn.discordapp.com/attachments/692773470441963540/721692441874399283/a078801f28c47024.png); /* 로고 */
		--Ebannerurl: url(https://cdn.discordapp.com/attachments/692773470441963540/721316364832473127/8f78153b454f5a8e.png); /* 상단 배너 */
}

header:before {
    background: var(--Ebannerurl) no-repeat;
}

/* 배경 이미지 */
html {
    background-color: #fff;
    background-image: url(https://cdn.discordapp.com/attachments/692773470441963540/721315684625154130/beach-1449008.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}

#article-list>.article-list-row.notice>.item>.list-time {
    background: #708ca9;
    border: 1px solid #708ca9;
}

#article-list > #article-list-category > a[href="/y_yeohun?category=34280854"]:hover {
	filter: saturate(3) brightness(140%);
}

#article-list > #article-list-category > a[href="/y_yeohun?category=34280854"] {
    filter: saturate(3) brightness(140%);
}

#movetotop {
    filter: saturate(3) brightness(140%);

}

body {
    background: transparent;
    animation: snow 50s cubic-bezier(0.3, 1.7, 0.7, -0.7) infinite;
    background-image: url(https://cdn.discordapp.com/attachments/692773470441963540/721690949272600576/1.png);
}