/* 전역 설정 */
:root {
	--url-logo: url(https://cdn.discordapp.com/attachments/936953394415935568/983031726773239818/logo_line.svg);
}

:root {
	--color-bc: #cbd1dc;
	--color-fr: #ffffff;
	--color-noti: #d8dde8;
	--color-hot: #e5e9f0;
	--color-hov: #f2f4f7;
	--color-sig: #323f5a;
	--color-pla: #5d75a6;
	--color-code: brown;
}

:root.darkmode {
	--color-bc: #121212;
	--color-fr: #1d1d1d;
	--color-noti: #3a3a3a;
	--color-hot: #313131;
	--color-hov: #262626;
	--color-sig: #a69c4c;
	--color-pla: #8c8341;
	--color-code: sandybrown;
}

/* 본문 줄간격 조정 */
p:last-child {
	margin: 0px;
}

/* 폰트 */
* {
	font-family: var(--font-pro), sans-serif;
}

:root {
	font-feature-settings: "calt", "salt", "case", "ss01", "ss02", "ss03", "ss08";
}

/* 코드 블록 */
p,
td {
	& strong em,
	& em strong {
		font-family: "D2Coding";
		font-style: normal;
		font-weight: 600;
		color: var(--color-code);
	}

	> strong > em,
	> em > strong {
		background: rgb(150, 150, 150, 0.25);
		padding: 0.1em 0.25em;
		border-radius: 4px;
	}
}

/* 하이퍼링크 아이콘 */
p a[href]:before {
	content: "\f14c";

	display: inline-block;
	margin-right: 2px;
}

tr a[href] {
	color: var(--color-lin) !important;
}

tr a[href]:before {
	content: "\f14c";

	display: inline-block;
	margin-right: 2px;
}

.list-writer img {
	display: none;
}

img[title="Broadcaster"] {
	content: url(https://cdn.discordapp.com/attachments/936953394415935568/1006923454139863180/snow_badge.svg);
	filter: grayscale(1);
}

:root.darkmode {
	--category-02-color: #fff;
	--category-03-color: #eee;
	--category-04-color: #dedede;
	--category-05-color: #cecece;
	--category-06-color: #bebebe;
	--category-07-color: #aeaeae;
	--category-08-color: #9e9e9e;
	--category-09-color: #8e8e8e;
	--category-10-color: #7d7d7d;
	--category-11-color: #6d6d6d;
}

html.darkmode {
	#article-category-left-list > a.shortcut-link,
	#article-list #article-list-category > a.nav-link,
	#article-info > h2 > span {
		&[style="color:#000000"] {
			color: var(--category-02-color) !important; /* 피드 */
		}

		&[style="color:#121212"] {
			color: var(--category-03-color) !important; /* CSS */
		}

		&[style="color:#242424"] {
			color: var(--category-04-color) !important; /* 트:제로 */
		}

		&[style="color:#363636"] {
			color: var(--category-05-color) !important; /* CIFT */
		}

		&[style="color:#484848"] {
			color: var(--category-06-color) !important; /* CXFT */
		}

		&[style="color:#5b5b5b"] {
			color: var(--category-07-color) !important; /* CTFT */
		}

		&[style="color:#6d6d6d"] {
			color: var(--category-08-color) !important; /* 그래픽 */
		}

		&[style="color:#7f7f7f"] {
			color: var(--category-09-color) !important; /* 자유 */
		}

		&[style="color:#919191"] {
			color: var(--category-10-color) !important; /* 질문 */
		}

		&[style="color:#a3a3a3"] {
			color: var(--category-11-color) !important; /* 저장소 */
		}
	}
}

/* CSS 시리즈 */
#article-list #article-list-category > a.nav-link {
	&:nth-child(3) {
		background-color: var(--color-noti);
	}

	&:nth-child(n + 4):nth-child(-n + 7) {
		box-shadow: inset 0 -4px 0 0 var(--color-noti);
	}
}

#article-category-left-list > a.shortcut-link {
	&:nth-child(3) {
		background-color: var(--color-noti) !important;
		&:hover {
			background-color: var(--color-hov) !important;
		}
	}

	&:nth-child(n + 3):nth-child(-n + 7) {
		box-shadow: inset 4px 0 0 0 var(--color-noti);
	}
}

/* 카테고리 라벨 */
#article-category-left-list > a.shortcut-link {
	&::after {
		margin-left: auto;
		font-size: 11px;
		line-height: 11px;
		content: "";
		white-space: pre;
	}

	&:nth-child(3)::after {
		content: "트게더 CSS";
	}
	&:nth-child(4)::after {
		content: "시작과 끝";
	}
	&:nth-child(5)::after {
		content: "정보";
	}
	&:nth-child(6)::after {
		content: "확장";
	}
	&:nth-child(7)::after {
		content: "팁";
	}
}

/* 추천 가이드 뱃지 */
#article-list > .article-list-row > .item > .list-header > span {
	display: none;
}

@keyframes neon {
	from {
		background: var(--color-sig);
	}

	to {
		background: var(--color-pla);
	}
}

#article-list > .article-list-row > .item > .list-title > small.favo i:before {
	display: none;
}

#article-list > .article-list-row > .item > .list-title > small.favo {
	top: 0;
	border-radius: 5px;
	padding: 0px 5px;

	height: 18px;
	line-height: 18px;
	font-size: 12px;

	background: var(--color-sig);
	animation: neon 1.5s infinite alternate ease-in-out;
	color: #fff;
}

#article-list > .article-list-row > .item > .list-title > small.favo:before {
	content: "추천 ";
}

#article-list > .article-list-row > .item > .list-title > small.favo:after {
	content: "\f058";
}
