/* 상단 공지바 */
#topNoti {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 5px 0px;

    background: #F46160;
    color: #fff;
}


/* 디스코드 버튼 */
#disBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#disBtn a {
	display: flex;
	align-items: center;
	flex-direction: row;
	
	padding: 15px;
	border-radius: 20px 20px 0px 20px;
	
	background: #5865F2;
	color: #fff;

	transition: .3s ease-in-out;
}

#disBtn a:link {
	color: #fff !important;
	text-decoration: none;
}

#disBtn a:hover,
#disBtn a:focus {
	background: #EB459E;
}

#disBtnImg {
	height: 23px;
	margin-right: 6px;
}

#disBtnNoti {
	font-size: 17px;
	font-weight: 800;
	line-height: 20px;
}

@media (max-width: 1400px) {
	
	#disBtnNoti {
		display: none;
}

	#disBtnImg {
		margin: 0;
	}
	
}