/* 테스트 */
#topElement {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 5px 0px;

    background: #F46160;
    color: #fff;
}



#browserNoti {
	color: #b3b3b3;
	margin-top: 30px;
	
	grid-row: 4 / 5;
    grid-column: 2 / 4;
}

#browserNoti a {
	color: #fff;
}



/* 디스코드 버튼 */
#disBtn {
	position: fixed;

	width: 300px;
	height: 100px;
	bottom: 15px;
	right: 15px;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}


#disBtnImg {
	display: none;
}

#disBtnText {
	text-align: right;
	
	background: #fff;
	padding: 8px 15px;
	border-radius: 15px 15px 0px 15px;
}


#disBtnNoti {
	font-size: 16px;
	font-weight: 800;
}

#disBtnInfo {
	font-size: 12px;
	font-weight: 600;

	background: var(--color_noti);
	width: fit-content;
	padding: 0 8px;
	border-radius: 50px;

	margin-left: auto;
}



.textSig {
	color: #5865F2;
}