/* 상단 공지바 */
#topNoti {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 5px 0;

    background: #F46160;
    color: #fff;
}


/* 디스코드 버튼 */
#disBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#disBtn a {
	display: flex;
	align-items: center;
	flex-direction: row;
	
	padding: 15px;
	border-radius: 50px 50px 0px 50px;
	
	background: #5865F2;
	color: #fff;

	transition: .2s ease-in-out;
}

#disBtn a:link {
	color: #fff !important;
	text-decoration: none;
}

#disBtn a:hover,
#disBtn a:focus {
	background: #EB459E;
}

#disBtnImg {
	height: 22px;
	margin-right: 6px;
}

#disBtnNoti {
	font-size: 17px;
	font-weight: 800;
	line-height: 20px;
}

@media (max-width: 1400px) {
	
	#disBtnNoti {
		display: none;
	}

	#disBtnImg {
		margin: 0;
	}
	
}

/* 유용한 링크 */
#usefulLink {
	display: none;

	position: absolute;
	height: 1000px;
	top: 440px;
}

#ufLinkBtnFr {
	display: flex;
	flex-direction: column;
	gap: 5px;

	position: sticky;
	top: 70px
}

.ufLinkBtn {
	border: 2px solid #000;
	border-radius: 50px;
	width: fit-content;
	height: fit-content;
}

.ufLinkBtnImg {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

#ufLinkBtnNoti {
	font-weight: 800;
	letter-spacing: -0.05em;
	text-align: center;
}