/* 공지바 :::::::::: :::::::::: :::::::::: */

#ext_noti {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.05em;
    background: var(--color-ntb);
    color: #fff;
    padding: 5px 0;

    &::before,
    &::after {
        content: "\f071";
        font-size: 16px;
        font-weight: normal;
        padding: 2px;
        display: inline;
        vertical-align: middle;
    }
}

/* 디스코드 버튼 :::::::::: :::::::::: :::::::::: */

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -4px);
    }
}

#ext_discord {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    animation: shake 1.5s infinite cubic-bezier(0.65, 0.05, 0.36, 1) alternate;

    & a {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 15px;
        border-radius: 50px 50px 0px 50px;
        background: #5865f2;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: 0.2s ease-in-out;

        @media (max-width: 1400px) {
            & {
                padding: 15px 12px;
            }
        }

        &:link {
            color: #fff !important;
            text-decoration: none;
        }

        &:hover,
        &:focus {
            background: #eb459e;
            /* background: hsl(235deg 86% 80%); */
        }

        & img {
            height: 22px;
            margin-right: 6px;
        }

        & span {
            font-size: 17px;
            font-weight: 800;
            line-height: 20px;
            white-space: nowrap;
        }
    }
}

@media (width <= 1600px) {
    #ext_discord {
        & span.ext-vw2 {
            display: none;
        }
    }
}

@media (width <= 1400px) {
    #ext_discord a {
        padding: 15px 12px;

        & img {
            margin: 0;
        }

        & span {
            display: none;
        }
    }
}

/* 디자인 정보 모음 :::::::::: :::::::::: :::::::::: */

:root {
    --color-text: #000;
    --color-btn-cft: #b3af88; /* 분할 보색 */
    --color-btn-important: #abadb3; /* 보색 */

    &.darkmode {
        --color-text: #fff;
        --color-btn-cft: #ccc89b;
        --color-btn-important: #c4c6cc;
    }
}

#ext_uselink {
    width: 100%;
    background: var(--color-sig);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .ext-frame {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
        gap: 4px;

        .ext-header {
            border: 1px solid #fff;
            color: #fff;
            font-size: 16px;
            letter-spacing: -0.025em;
            font-weight: 800;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            grid-column: span 4;
        }
    }
}

#ext_uselink .ext-btn {
    background: var(--color-noti);
    color: var(--color-text);
    letter-spacing: -0.025em;
    text-decoration: none !important;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;

    &.ext-large {
        flex-direction: column;
        gap: 4px;
        grid-row: span 2;

        .ext-discription {
            font-size: 12px;
            line-height: 12px;
            font-weight: normal;
            background: var(--color-pla);
            color: #fff;
            margin: 0;
            padding: 2px 6px;
            border-radius: 20px;
        }
    }

    .darkmode & {
        color: #fff;
    }

    &:hover,
    &:focus {
        background: var(--color-sig) !important;
        border: 1px dashed #fff;
        color: #fff !important;
    }

    &.ext-goto {
        background: var(--color-btn-important);

        .darkmode & {
            color: #000;
        }
    }

    &.ext-community {
        grid-column: span 3;
    }

    &.ext-mdn {
        grid-column: span 1;
    }

    &.ext-cft {
        background: var(--color-btn-cft);
        color: #000;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            font-size: 18px;
            line-height: 18px;
            font-weight: normal;
        }

        &.ext-faq::before {
            content: "\f135";
        }

        &.ext-key::before {
            content: "\f084";
        }
    }
}
